<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />

      <label for="role">Role:</label><br />
      <!-- <input type="text" id="role" name="role" /><br /> -->
      <select name="role" id="role">
        <option value="Software">Software</option>
        <option value="Data">Data</option>
        <option value="Quant">Quant</option>
        <option value="Finance">Finance</option>
        <option value="Product">Product</option>
        <option value="FMCG">FMCG</option>
        <option value="Consulting">Consulting</option>
        <option value="Sports">Sports</option>
        <option value="Music">Music</option>
        <option value="Game Development">Game Development</option>
        <option value="Design">Design</option>
        <option value="Arts">Arts</option>
        <option value="Literary">Literary</option>
        <option value="Core Academics">Core Academics</option>
        <option value="Robotics">Robotics</option>
        <option value="Dance">Dance</option>
        <option value="Other">Other</option>
      </select>

      <label for="department">Department:</label><br />
      <input type="text" id="department" name="department" /><br />

      <label for="contact">Contact:</label><br />
      <input type="text" id="contact" name="contact" /><br />

      <label for="year">Year:</label><br />
      <input type="text" id="year" name="year" /><br />

      <label for="alt_email">Alternate Email:</label><br />
      <input type="email" id="alt_email" name="alt_email" /><br />

      <label for="photo">Photo:</label><br />
      <input type="file" id="photo" name="photo" /><br />

      <label for="short_description">Short Description:</label><br />
      <textarea id="short_description" name="short_description"></textarea
      ><br />

      <label for="long_description">Long Description:</label><br />
      <textarea id="long_description" name="long_description"></textarea><br />

      <label for="hall">Hall:</label><br />
      <input type="text" id="hall" name="hall" /><br />

      <label for="facebook_link">Facebook Link:</label><br />
      <input type="url" id="facebook_link" name="facebook_link" /><br />

      <label for="linkedin_link">LinkedIn Link:</label><br />
      <input type="url" id="linkedin_link" name="linkedin_link" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
